[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/color-jellybeans"]
	path = bundle/color-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/irblack.vim"]
	path = bundle/irblack.vim
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "bundle/vividchalk.vim"]
	path = bundle/vividchalk.vim
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "ext/pathogen"]
	path = ext/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/hammer"]
	path = bundle/hammer
	url = https://github.com/robgleeson/hammer.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/monokai"]
	path = bundle/monokai
	url = https://github.com/sickill/vim-monokai.git
