[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/color-jellybeans"]
	path = bundle/color-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/irblack.vim"]
	path = bundle/irblack.vim
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "bundle/vividchalk.vim"]
	path = bundle/vividchalk.vim
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "ext/pathogen"]
	path = ext/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/monokai"]
	path = bundle/monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "bundle/desertink"]
	path = bundle/desertink
	url = https://github.com/toupeira/vim-desertink.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = http://github.com/mattn/emmet-vim.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/arduino"]
	path = bundle/arduino
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/expand-region"]
	path = bundle/expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
